<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <style type="text/css">
        .rig-image {
        padding-top: 16px;
        display: block;
            height: 20px;
            width: 30px;
        }
        </style>
    </head>

    <body>

        <div th:fragment="userInfo">
            <!-- Replace navbar-default with navbar-inverse to get a black header -->

            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <img style="height: 50px;width: 50px" src="/images/rig-icon-1.0.png"/>
                    </div>
                    <div>
                        <p th:unless="${currentUserConnection == null}" class="navbar-text navbar-right">

                            <a class="navbar-link"><span th:text="${currentUserConnection.getFirstName()}"/></a>

                            <a th:if="${currentUserConnection.getSignInProvider().toString() == 'linkedin'}" class="ml btn btn-social-icon btn-sm btn-linkedin"> <i class="fa fa-linkedin"></i></a>
                            <a th:if="${currentUserConnection.getSignInProvider().toString() == 'facebook'}" class="ml btn btn-social-icon btn-sm btn-facebook"> <i class="fa fa-facebook"></i></a>
                            <a th:if="${currentUserConnection.getSignInProvider().toString() == 'twitter'}"  class="ml btn btn-social-icon btn-sm btn-twitter"> <i class="fa fa-twitter"></i></a>
                            <a th:if="${currentUserConnection.getSignInProvider().toString() == 'form'}"  class="ml btn btn-social-icon btn-sm btn-reddit"> <img src="/images/rig-icon-1.0.png"/></a>

                            <!--<images src="" width="32" height="32" />-->
                            &nbsp;&nbsp;&nbsp;<a href="/logout"> Logout </a>
                        </p>
                    </div>
                </div>
            </nav>
        </div>

    </body>
</html>