<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
    <script src="/js/bootstrap.min.js" />

    <script type="text/javascript">
        function submitRequest(id) {
            document.getElementById(id).submit();
        }
    </script>
</head>

<body>
<div th:replace="fragments/header :: userInfo"/>



<div class="container">
    <div class="row">
        <div class="col-md-6"><H4>List of User</H4></div>
        <div class="col-md-6"><span class="pull-right align-vertical" style=" vertical-align: text-bottom;"><a href="/adduser">Add/Update user   </a></span></div>
    </div>
</div>

    <table class="table table-hover">

        <tr>
            <td>User ID</td>
            <td>Email</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Role</td>
            <td>Access</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"> </td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <form action="#" th:action="@{/processRequest}" method="post" th:name="${user.getUserId()}" >
                    <input type="hidden" id="userId" name="userId" th:value="${user.getUserId()}" />
                    <div  th:if="${user.getAuthorizeAccess() == 'Y'}">
                        <input type="hidden" id="authorizeAccess" name="authorizeAccess" value="N" />
                        <input type="submit" value="De authorize" th:onclick="'javascript:submitRequest(\'' + ${user.getUserId()} + '\');'" />
                    </div>

                    <div  th:if="${user.getAuthorizeAccess()== 'N'}">
                        <input type="hidden" id="authorizeAccess" name="authorizeAccess" value="Y" />
                        <input type="submit" value="Authorize" th:onclick="'javascript:submitRequest(\'' + ${user.getUserId()} + '\');'" />
                    </div>


                </form>

            </td>
        </tr>
    </table>

<div th:replace="fragments/exception :: errorInfo"/>
<!--<input type="hidden" th:field="*{user.userId}" th:value="${user.getUserId()}" />-->
<!--<input type="text" th:field="*{user.authorizeAccess}" />-->

</body>

</html>