<html xmlns:th="http://www.w3.org/1999/xhtml"><head><title>Login Page</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />


    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />


    <style type="text/css">
        <!--
        .ml { width: 110px; color: white; text-decoration: none }
        .ml:hover, a:focus { color: white; text-decoration: none }
        -->
        h1 {
            text-align: center;
            padding-bottom: 10px;
        }
        .rig-image {
            padding-top: 16px;
            width: 120px;
            display: block;
            margin: 40px auto 6px;
        }
    </style>

</head>

<body onload='document.f.username.focus();'>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!--<images class="rig-image" src="https://s3-eu-west-1.amazonaws.com/digitalrig-content/imgs/rig-icon-1.0.png"/>-->
            <img class="rig-image" src="/images/rig-icon-1.0.png"/>
            <h1>welcome</h1>
            <form action="/login/authenticate" method="post">
                <div class="form-group">
                    <label for="inputEmail">User Id</label>
                    <input type="text" class="form-control" id="inputEmail" name="username" />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"/>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <input type="hidden" name="redirect_dest" value="{{ redirect_dest }}"/>
            </form>

            <div class="form-group">
                <label for="inputPassword">Login with your Social Account</label>
            </div>


            <table>
                <tr>
                    <td>
                        <form name="fb_signin" id="fb_signin" th:action="@{/auth/facebook}" method="POST">
                            <input type="hidden" name="scope" value="user_posts,user_photos,email,publish_actions"/>
                            <!--<input type="hidden" name="scope" value="read_stream,user_posts,user_photos,email,publish_actions"/>-->
                            <Div class="ml btn btn-block btn-social btn-sm btn-facebook" onclick="document.forms['fb_signin'].submit();"><i class="fa fa-facebook"/>Facebook</Div>
                        </form>
                    </td>
                    <td width="5%"></td>
                    <td>
                        <form name="li_signin" id="li_signin" th:action="@{/auth/linkedin}" method="POST">
                            <Div class="ml btn btn-block btn-social btn-sm btn-linkedin" onclick="document.forms['li_signin'].submit();"><i class="fa fa-linkedin"/>LinkedIn</Div>
                        </form>
                    </td>
                    <td width="5%"></td>
                    <td>
                        <form name="tw_signin" id="tw_signin" th:action="@{/auth/twitter}" method="POST">
                            <Div class="ml btn btn-block btn-social btn-sm btn-twitter" onclick="document.forms['tw_signin'].submit();"><i class="fa fa-twitter"/>Twitter</Div>
                        </form>
                    </td>
                </tr>
            </table>


        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</body></html>